@font-face {
  font-family: yekan;
  src: 
      /* IE6-8 */ url("../fonts/iranyekanwebbold\(fanum\).82c5d85.woff2")
      format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/
      url("../fonts/iranyekanwebextrabold.971dbeb.woff") format("woff");
}

@font-face {
  font-family: "FontAwesome";
  src: url("../fonts/fontawesome-webfont.eot?v=4.7.0");
  src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0")
      format("embedded-opentype"),
    url("../fonts/fontawesome-webfont.woff2?v=4.7.0") format("woff2"),
    url("../fonts/fontawesome-webfont.woff?v=4.7.0") format("woff"),
    url("../fonts/fontawesome-webfont.ttf?v=4.7.0") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: yekan;
  color: black;
}

/* header */

header {
  position: fixed;
  left: 0;
  right: 0;
}
header #top-logo {
  text-align: center;
}

header #top-logo img {
  margin: 20px;
  width: 60px;
}

header #main-menu ul > li {
  display: inline-block;
}

header #main-menu > ul > li > a {
  display: inline-block;
  line-height: 60px;
  padding: 0 15px;
  font-size: 14px;
}

header #main-menu > ul > li > i {
  font-family: "FontAwesome";
  font-size: 10px;
  color: #228ced;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-chevron-down:before {
  content: "\f078";
}

header .sub-menu > li > a {
  display: inline-block;
  line-height: 30px;
  padding: 10px;
  font-size: 14px;
}

header #main-menu ul > li > a:hover {
  color: #228ced;
}

header #main-menu ul .sub-menu {
  display: none;
  position: absolute;
  background-color: #fff;
  border: 1px solid rgba(53, 155, 244, 0.32157);
}

header #main-menu ul li:hover .sub-menu {
  display: block;
}

header #main-menu .sub-menu > li {
  display: block;
  text-align: center;
}

header #main-menu .sub-menu > li > a {
  display: inline-block;
}

header #login a {
  line-height: 60px;
  font-size: 14px;
  float: left;
  padding: 0 10px;
  margin-left: 20px;
}

.un {
  display: inline-block;
  padding-bottom: 2px;
  background-image: linear-gradient(#228ced, #228ced);
  background-position: bottom right;
  background-size: 0% 4px;
  background-repeat: no-repeat;
  transition: background-size 0.5s, background-position 0s 0.5s; /*change after the size immediately*/
}

.un:hover {
  background-position: bottom right;
  background-size: 100% 4px;
}

/* section-one */

section#section-one {
  padding-top: 150px;
  text-align: center;
  line-height: 40px;
  background-image: url(../images/top-background.svg),
    linear-gradient(179deg, #e7e8f3 2%, #fff 242%);
  background-repeat: no-repeat;
  background-size: contain;
}

#section-one h1,
#section-one h2 {
  font-size: 35px;
  color: #062870;
  font-weight: 800;
}

#section-one span {
  color: #228ced;
}

#section-one h3 {
  color: #767888;
  font-size: 16px;
  margin: 20px;
}

/* footer */

footer a {
  font-size: 14px;
  color: #062870;
}

footer #contact img {
  width: 150px;
  display: block;
  margin: auto;
}

footer #contact {
  background-image: url(../images/footer.png);
  padding-top: 50px;
  background-size: 100% auto;
  padding-bottom: 60px;
}

footer #contact ul {
  margin-top: 30px;
  margin-right: 10px;
}

footer #contact ul li {
  margin: 15px;
}

footer #contact a {
  color: #228ced;
}

footer #contact a:hover {
  color: #fff;
}

footer #contact p {
  color: #fff;
  line-height: 30px;
}

footer .menu {
  margin-top: 100px;
}

footer .menu > h5 {
  font-size: 20px;
  padding-bottom: 20px;
  color: #062870;
}

footer .menu > h5 > span {
  padding-bottom: 10px;
  border-bottom: 5px solid #228ced;
}

footer .menu ul {
  margin-top: 40px;
}

footer .menu ul li {
  margin: 20px 0;
}

footer a:hover {
  color: #228ced;
}

footer .copyright {
  margin-top: 10px;
  text-align: left;
  color: #062870;
}

footer .copyright a {
  color: #228ced;
  font-size: 15px;
  font-weight: 800;
}

footer > img {
  margin-bottom: -400px;
  width: 100%;
  z-index: -100;
  position: relative;
}

section#about-us,
section#contact-us {
  padding-top: 150px;
  text-align: right;
  line-height: 40px;
  background-image: url(../images/top-background.svg),
    url(../images/about-us-bg.svg);
  background-position: top, bottom right;
  background-repeat: no-repeat;
  background-size: contain;
  color: #062870;
}

section#about-us h1,
section#contact-us h1 {
  font-size: 25px;
  margin-bottom: 20px;
  text-align: center;
}

section#about-us p {
  text-align: justify;
  margin: 15px;
}

section#contact-us p {
  margin-bottom: 40px;
  text-align: center;
}

section#contact-us label {
  display: block;
  font-size: 15px;
}

section#contact-us input {
  font-family: yekan;
  padding: 10px;
  width: 90%;
  border: 1px solid #e7e8f3;
  background-color: #fbfbfe;
  border-radius: 10px;
  margin-bottom: 1.24rem;
}

section#contact-us textarea {
  font-family: yekan;
  padding: 10px;
  width: 95%;
  border: 1px solid #e7e8f3;
  background-color: #fbfbfe;
  border-radius: 10px;
}

section#contact-us *:focus {
  border: 1px solid #228ced;
  outline: 0px;
}

section#contact-us button {
  width: 95%;
  font-family: yekan;
  color: #fff;
  background-color: #228ced;
  padding: 15px;
  outline: 0px;
  border: 0px;
  border-radius: 10px;
}

section#section-two {
  background-color: #f1f1f8;
  position: relative;
  width: 100%;
  min-height: 500px;
}

#section-two .home-box {
  width: 35%;
  background-color: #fff;
  margin: 30px;
  border-radius: 15px;
  padding: 25px;
}

#section-two h4 {
  font-size: 16px;
  color: #062870;
  padding: 15px 5px 30px 0;
}

#section-two p {
  font-size: 14px;
  line-height: 35px;
}

#section-two a {
  color:#228ced;
  font-size: 18px;
  margin: 145px 0;
}

#section-two .home-box#box-1 {
  position: absolute;
  top: 50px;
  left: 0;
}

#section-two .home-box#box-2 {
  position: absolute;
  top: 300px;
  left: 0;
}

#section-two .home-box#box-3 {
  top: 50px;
}
