body {
  font-family: "Courier New", Courier, monospace;
}

/* Text Decoration */

p {
  font-size: 10em;
  font-weight: 700;
  color: #00ffbb;
  text-align: left;
  vertical-align: baseline;
  text-indent: 30px;
  white-space: pre;
  /* text-transform: capitalize; */
  letter-spacing: 20px;
  text-shadow: 0px 0px 3px #00ffbb,-20px -20px 40px black;
}
